<p-card *ngIf="dataLoaded">
  <p-header class="heading"></p-header>
  <h1>Hey {{userdata['userName']}} !!</h1>
  <p-table [value]="globalData">
    <ng-template pTemplate="header">
        <tr>
            <th>Rank</th>
            <th>CO amount</th>
            <th>Duration(in seconds)</th>
            <th>Impact</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-car let-i=index>
        <tr>
            <td>{{car['userName']}}</td>
            <td>{{car.amountCO}}</td>
            <td>{{car.duration}}</td>
            <td>{{car.amountCO / car.duration}}</td>
        </tr>
    </ng-template>
</p-table>
</p-card>