.heading{
    margin-left: 40%;
    margin-top: 45%;
    padding-top: 40%;
    font-weight: bold;
    font-size: 5ch;
}

.cardBord{
    display:relative;
    /* border-collapse: separate; */
    /* border-spacing: 50px; */
    /* height: 1000%; */
    /* margin: 0 auto; */
    /* border: 0 auto; */
    /* padding: 0 auto; */

}