<p-card class="cardBord">
  <p-header class="heading"> Air Polution Track </p-header>
  <p-card class="ui-g">
  <div class="ui-g-12">
    <div class="ui-g-3 ui-md-offset-4">
      Username : <input type="text" size=25 pInputText placeholder="Enter your username ('e.g. Rich')" [(ngModel)]="username" />
    </div>

    <div class="ui-g-3 ui-md-offset-4">
      <p-button label="Submit" (onClick)="login()" ></p-button>
    </div>
  </div>
</p-card>
</p-card>